@model CreateUserDTO;

@section patate
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Patate 🥔</a>
    </li>
}

<a asp-controller="User" asp-action="Index">Retour</a>

<div asp-validation-summary="ModelOnly"></div>

<form method="post">
    <label>Prenom</label>
    <input type="text" asp-for="Firstname" />
    <span asp-validation-for="Firstname"></span>
    <br />

    <label>Nom</label>
    <input type="text" asp-for="Lastname" />
    <span asp-validation-for="Lastname"></span>
    <br />

    <label>Email</label>
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />

    <label>Mot de passe</label>
    <input type="password" asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />

    <label>Confirmation de mot de passe</label>
    <input type="password" asp-for="PasswordConfirmation" />
    <span asp-validation-for="PasswordConfirmation"></span>
    <br />
    <input type="submit" />
</form>